layout {

    focus-ring {
        active-color   "#cdca75"
        inactive-color "#14140c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cdca75"
        inactive-color "#14140c"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#cdca75"
        inactive-color "#4a4900"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cdca7580"
    }
}

recent-windows {
    highlight {
        active-color "#cdca75"
        urgent-color "#ffb4ab"
    }
}
